@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
/*레이아웃*/
#wrap {}
#header {width: 100%; height: 100px; float:center; margin-top:1rem;}
#contents{}
footer {width: 100%; height: 200px; padding:2rem; margin-top:5rem;}
#footer-in{padding:1rem;}

a {text-decoration: none;}
/* 컨텐츠 레이아웃 */
#cont_nav {width: 100%;} /*background: #333;}*/
#cont_tit {margin-top:4rem; margin-bottom:3rem;}
#cont_ban {}
#cont_cont {}

/* 컨테이너 */
/*.container {width: 990px; margin: 0 auto; height: inherit;} background: rgba(255,255,255,0.3);}*/
.container {width: 100%; margin: 0 auto; height: inherit;}

/* 헤더 */
/* .header {position: fixed;}
.header .header-menu {text-align: right;}
.header .header-menu a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover {color: #666;}
.header .header-title {text-align: center; display: inline-block;} */

.header {position: relative;!important;}
.header .header-menu a {color: #fff;}
.header .header-menu a:hover {color: #666;}
.header .header-title {text-align:center; position: relative; top:195px;}
.header .header-title h1{background-color: #80cbc4; font-size: 30px; padding: 5px 20px 6px 20px; display: inline-block; color: #fff; margin-top: 40px; font-weight: normal; text-transform: uppercase;}
.header .header-logo-img{float:left}
.header .header-btn{float:right}
a:link, a:visited, a:hover, a:active {text-decoration: none;}

/*배너*/
.ban {position:relative;}
.ban ul {overflow: hidden;}
.ban ul li {float: left; width:100%;}
/* .ban ul li:last-child {text-align: right;}
.ban ul li:nth-child(2) {text-align: center;} */
/* .ban ul li.ban_img1 {text-align: left;} */
.ban ul li.ban_img2 {text-align: center;}
/* .ban ul li.ban_img3 {text-align: right;} */
.ban ul li img {border-color: #98bcdc;}

/* 컨테이너 */
.cont {overflow: hidden; padding-top: 30px;}
.cont .column {position: relative; float: left;height: 363px; padding-right: 30px;}
.cont .column.col1 {float:left; width:70%;}
.cont .column.col2 {float:right;} 

/* 탭 */
ul{
    list-style:none;
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
  display: inline-block;
	background: #ffff;
	color: black;
	padding:10px;
	cursor: pointer;
    border-bottom: 2px solid #80cbc4;
}
ul.tabs li.current{
	background: #ffff;
	color: #222;
    border: 1px solid #80cbc4;
}
.tab-content{
  display: none;
	background: #ffff;
    color: #222;
	padding: 12px;
}
.tab-content.current{
	display: inherit;
    border:1px solid #80cbc4;
}
.main-current{
	color: #252525;
    font-size:30px;
}

/* 검색창 */
.search_box {
    width: 50%;
    height: 50px;
    border: 2px solid #80cbc4;
    display: flex;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
.search_box input {
    width: 90%;
    height: 46px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
    font-size: 18px;
}
.search_box button {
    width: 10%;
    height: 46px;
    margin: 0;
    padding: 0;
    border: none;
    background: #80cbc4;
}

/* Navigation Styles */
#cont_nav
nav { text-align:center; background:  #80cbc4; }
nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 15px 50px;
    transition: 0.3s linear;
}
nav ul li:hover { background: #80cbc4; }
nav ul li ul {
    border-bottom: 5px solid #80cbc4;
    display: none;
    position: absolute;
    width: 250px;
}
nav ul li ul li {
    border-top: 1px solid #444;
    display: block;
    z-index: 1;
}
nav ul li ul li:first-child { border-top: none; }
nav ul li ul li a {
    background: #373737;
    display: block;
    padding: 10px 14px;
}
nav ul li ul li a:hover { background: #80cbc4; }
nav .fa.fa-angle-down { margin-left: 6px; }

/* 페이지 공통 */
.title-box {
    width:70%;
    padding:1rem;
    margin:0px auto;
    margin-top:3rem;
    margin-bottom:3rem;
    border-left:5px solid #80cbc4;
}
.title-boxlong {
    padding:1rem;
    margin:0px auto;
    margin-top:3rem;
    margin-bottom:3rem;
    border-left:5px solid #80cbc4;
}
.title-box-center {
    width:70%;
    padding:1rem;
    margin:0px auto;
    margin-top:2rem;
    margin-bottom:2rem;
    border-bottom:5px solid #80cbc4;
}
